/******************************TAG SELECTORS**************************/
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}


h1{
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
}


h2{
  color: #e84a5f;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 20px;
}


h3, h4{
  color: #e84a5f;
  padding-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}


.talk-art{
  color: #e84a5f;
  font-weight: normal;
  padding-bottom: 0;
}

p.talk-art{
  margin-bottom: 60px;
}


/* .btn{
  padding-top: 40px;
} */

p{
  font-family: 'Montserrat', sans-serif;
}


p.main-p {
color: black;
font-size: 1.5625rem;
font-family: 'Montserrat', sans-serif;
margin: 10px auto 0 auto;
/* text-align: center; */
}


hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 7px;
  background-color: inherit;
  border-color: rgba(192,192,192, 0.5);
  /* height: 2px; */
  width: 5%;
}


img{
  transition: all 1s;
}

img:hover{
  transform: scale(1.1);
}


/******************************CLASS SELECTORS**************************/

.classheading {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 190px;
  color: rgba(40,40,100, 0.8);
  font-size: 6.25rem; /* 1em = 16px = 100%  HENCE  6.25em = 100px = 625% */
  /* margin: 0 auto;  to centre align block elements that have width specified */
}

.get-in-touch{
  color: #e84a5f;
  margin-top: 0;
  padding-top: 20px;
  font-weight: bolder;
}

.top-container{
  background-image: url("https://c4.wallpaperflare.com/wallpaper/649/200/63/digital-art-artwork-abstract-wallpaper-preview.jpg");
  background-size: cover;
  height: 720px; /* To fit the screen */
  position: relative;
}



/* .middle-container{
  height: 1500px;
} */

.bottom-container{
  background-color: #f8e1f4;
  padding-top: 20px;
}



.laptop-img{
  /* margin-right: 60px; */
  position: absolute;
  top: 430px;
  left: 470px;
}

.contact-me{
  background-color: #fff0f5;
  padding-bottom: 40px;
}

.mahi-profile-picture{
  margin-top: 10px;
}

.palette-img{
  /* margin-left: 60px; */
  position: absolute;
  top: 430px;
  right: 470px;
}

.paintings{
  background-color: #fff0f5;
  /* position: relative; */
  height: 1550px;
  padding-bottom: 150px;
}

.profile{
    background-color: #f8e1f4;
    padding-top: 80px;
}


.paint-and-sketch-heading{
  margin-top: 0;
  padding-top: 40px;
}

.copyright{
  margin-bottom: 0;
}


.painting-row{
  width: 50%;
  margin: 100px auto;
}

.lady-on-the-balcony{
  width: 40%;
}

.love{
  width: 40%;
}

.hazard{
  width: 40%;
}

.radha-krishna{
  width: 40%;
}


.by-the-sea{
  width: 40%;
}

.abstract{
  width: 40%;
}


/*
.lady-on-the-balcony{
  position: relative;
  right: 500px;
  top : 50px;
  width: 20%
}


.lady-on-the-balcony-description{
  position: relative;
  right: 500px;
  top : 50px;
} */

.footer-link{
  margin-right: 15px;
  position: relative;
  left: 10px;
  text-decoration: none;
}

.copyright{
  font-size: 0.75rem;
  padding: 20px 0;
}

.twitter-logo:hover{
  transform: scale(1.5);
}

.insta-logo:hover{
  transform: scale(1.5);
}

.facebook-logo:hover{
  transform: scale(1.5);
}

.btn {
  background: #df17e6;
  background-image: -webkit-linear-gradient(top, #df17e6, #83119c);
  background-image: -moz-linear-gradient(top, #df17e6, #83119c);
  background-image: -ms-linear-gradient(top, #df17e6, #83119c);
  background-image: -o-linear-gradient(top, #df17e6, #83119c);
  background-image: linear-gradient(to bottom, #df17e6, #83119c);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 15px;
  background: #c22b4b;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #e3327f;
  background-image: -webkit-linear-gradient(top, #e3327f, #c22b4b);
  background-image: -moz-linear-gradient(top, #e3327f, #c22b4b);
  background-image: -ms-linear-gradient(top, #e3327f, #c22b4b);
  background-image: -o-linear-gradient(top, #e3327f, #c22b4b);
  background-image: linear-gradient(to bottom, #e3327f, #c22b4b);
  text-decoration: none;
}
/***************   ID SELECTORS   ***************/

#row1{
  position: relative;
  right: 300px;
}

#row2{
  position: relative;
  left: 300px;
  bottom: 480px;
}

#row3{
  position: relative;
  right: 300px;
  bottom: 450px;
}

#row4{
  position: relative;
  left: 300px;
  bottom: 930px;
}

#row5{
  position: relative;
  right: 300px;
  bottom: 900px;
}


#row6{
  position: relative;
  left: 300px;
  bottom: 1380px;
}
